.container{
    display: flex;
    width: 100%;
    height: 500px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width:500px){
    .ml15 {
        font-size: 2.5em!important;

      }
      .container{
        display: flex;
        align-items: center;
        width: 100%;
        height: 200px!important;
        padding: 20px;
        text-align: center;
        justify-content: space-between!important;
    }  
}

.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

