.textAnimate{
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}


@media (max-width:500px){
    .textAnimate {
        font-size: 25px!important;
        margin-bottom: 0px!important;

      }
    }